.hidden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
ol,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
    justify-content: space-between;
}
button {
    cursor: pointer;
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;     
}
}
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* header */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
}
.list-nav, address {
    display: none;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-name {
    color: #2e2f42;
}
.header-logo {
    padding: 16px 0;
    display: block;
}
.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}
.burger-icon {
    display: block;
    fill: #2f2f37;
}
@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }
    .header-nav {
        display: flex;
        align-items: center;
    }
    .list-nav {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }
    .link-nav {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
    }
    .link-nav::after {
        content: '';
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: -1px;
        background-color: #404bbf;
        border-radius: 2px;
        opacity: 0;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .link-nav:hover::after,
    .link-nav:focus::after,
    .link-nav.current::after {
        opacity: 1;
    }
    .link-nav:hover,
    .link-nav:focus,
    .link-contacts:hover,
    .link-contacts:focus,
    .link-nav.current {
        color: #404bbf;
    }
    .address {
        font-style: normal;
        display: block;
    }
    .list-contacts {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .link-contacts {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }
    .list-contacts {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
    .link-contacts {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/* mobail menu */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 16px;
}
.mobile-menu-close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    stroke-width: 1px;
    stroke:#2e2f42;
    fill: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-close:hover,
.mobile-menu-close:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}
.button-mobile-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-mobile {
    margin-bottom: auto;
    margin-left: 16px;
}
.list-nav-mobile {
    list-style: none;
    padding: 0;
    margin: 0;
}
.link-nav-mobile {
    display: block;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2e2f42;
    margin-bottom: 40px;
}
.item-nav-mobile:hover,
.item-nav-mobile:focus,
.link-contacts-mobile:hover,
.link-contacts-mobile:focus {
    color: #404bbf;
}
.mobile-menu-social {
    display: flex;
    justify-content: center;
    gap: 24px; /* проміжки між лінками */
}
.address-mobile-container {
    margin-top: auto;
    padding-top: 20px;
}
.mobile-menu .address-mobile {
    display: block;
    font-style: normal;
}
.mobile-menu .list-contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 0 32px 0;
    padding: 0;
}
.mobile-menu .link-contacts {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}
.mobile-menu .link-contacts.phone {
    font-weight: 600;
    color: #4d5ae5;
}
.social-icons {
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 48px;
}
.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    fill: #fff;
}
@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
